@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dk-g: #333;
  --lg-g: #ccc;
  --light: #eee;
  --dark: #111;
  --succ: #4bed4b;
  --or-1: #ff4500;
  --or-2: #ff8c00;
  --gold: #ffd700;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8)),
    url('./images/bg.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
  padding: 8rem;
  background-color: var(--dark);
  border: 0.1rem dotted var(--or-1);
}